body {
    font-family: Arial, sans-serif;
    background-color: deeppink;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
}

.container {
    background-color: rgb(44, 176, 224);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: auto;
}

.judul {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
    box-sizing: border-box;
    color: deeppink;
    font-weight: bold;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: deeppink;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: rgb(204, 0, 109);
}

.hasil {
    margin-top: -1rem;
    text-align: center;
    color: black;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
}

.operator {
    font-size: 2rem;
    color: deeppink;
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}